/* #2 Оно тебе надо - Главная */

position: relative;
width: 1100px;
height: 3028px;

background: #FFFFFF;


/* footer */

position: absolute;
width: 1000px;
height: 98px;
left: 50px;
top: 2842px;



/* socials */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 240px;
height: 48px;
right: 50px;
top: 2843px;



/* YouTube */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 48px;
height: 48px;
left: 0px;
top: 0px;

border: 1px solid #000000;


/* youtube */

position: absolute;
left: 4.58%;
right: 84.58%;
top: 29.17%;
bottom: 29.17%;



/* Vector */

position: absolute;
width: 26px;
height: 20px;
left: 11px;
top: 14px;

background: #000000;


/* Vector */

position: absolute;
width: 8.41px;
height: 10.13px;
left: 20.55px;
top: 19.21px;

background: #000000;


/* VK */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 7 */

box-sizing: border-box;

position: absolute;
width: 48px;
height: 48px;
left: 96px;
top: 0px;

border: 1px solid #000000;


/* vk */

position: absolute;
width: 29.12px;
height: 18px;
left: 105.44px;
top: 14.95px;

background: #000000;


/* Pinterest */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 6 */

box-sizing: border-box;

position: absolute;
width: 48px;
height: 48px;
left: 192px;
top: 0px;

border: 1px solid #000000;


/* pinterest */

position: absolute;
width: 17px;
height: 22px;
left: 208px;
top: 13px;

background: #000000;


/* menu */

position: absolute;
width: 149px;
height: 64px;
left: calc(50% - 149px/2 + 0.5px);
top: 2843px;



/* об аукционе */

position: absolute;
width: 108px;
height: 22px;
left: 496px;
top: 2885px;



/* Line 8 */

position: absolute;
width: 108px;
height: 0px;
left: 496px;
top: 2907px;

border: 1px solid #000000;


/* об аукционе */

position: absolute;
width: 108px;
height: 21px;
left: 496px;
top: 2885px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;



/* посмотреть лоты */

position: absolute;
width: 149px;
height: 22px;
left: 476px;
top: 2864px;



/* Line 7 */

position: absolute;
width: 148px;
height: 0px;
left: 476px;
top: 2886px;

border: 1px solid #000000;


/* посмотреть лоты */

position: absolute;
width: 149px;
height: 21px;
left: 476px;
top: 2864px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;



/* главная */

position: absolute;
width: 67px;
height: 21px;
left: 517px;
top: 2843px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;



/* contacts */

position: absolute;
width: 240.52px;
height: 98px;
left: 50px;
top: 2842px;



/* наб. Принсенграхт 263- 265, Амстердам */

position: absolute;
width: 237px;
height: 49px;
left: 51px;
top: 2891px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */

color: #000000;



/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 50px;
top: 2866px;



/* Line 5 */

position: absolute;
width: 130px;
height: 0px;
left: 50px;
top: 2890px;

border: 1px solid #000000;


/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 50px;
top: 2866px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */
letter-spacing: 0.01em;

color: #000000;



/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 50.52px;
top: 2842px;



/* Line 4 */

position: absolute;
width: 132px;
height: 0px;
left: 50.52px;
top: 2866px;

border: 1px solid #000000;


/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 50.52px;
top: 2842px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */
letter-spacing: 0.01em;

color: #000000;



/* about */

position: absolute;
width: 1052px;
height: 595px;
left: 24px;
top: 2067px;



/* about-column */

position: absolute;
width: 693px;
height: 449px;
left: 359px;
top: 133px;



/* description-block */

position: absolute;
width: 693px;
height: 312px;
left: 0px;
top: 150px;



/* Здесь вы не встретите очередное пафосное собрание невероятно дорогого антиквариата. Наши лоты вообще не должны были попасть ни на один аукцион. Потому что кому нужен дневник девочки-подростка или картина, которую может нарисовать даже ребёнок? Кому нужны все эти странные вещи, созданные любителями? */

position: absolute;
width: 688px;
height: 120px;
left: 0px;
top: 150px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 120% */
letter-spacing: 0.01em;

color: #000000;



/* Слишком сложные или, наоборот, слишком простые. Опережающие своё время. В пух и прах растерзанные критиками. Непринятые и непонятые. Когда-то они казались просто неудачными. Но, несмотря на критику, кажущуюся простоту или сложность, сейчас без этих лотов невозможно представить современную культуру. Когда в эти вещи не верил никто, продолжали верить их создатели. И сейчас эти лоты стали культовыми. */

position: absolute;
width: 693px;
height: 168px;
left: 0px;
top: 294px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 120% */

color: #000000;



/* Об аукционе */

position: absolute;
width: 291px;
height: 47px;
left: 0px;
top: 3px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */
text-transform: uppercase;

color: #000000;



/* logo-column */

position: absolute;
width: 240px;
height: 240px;
left: 47px;
top: 35px;



/* logo */

position: absolute;
width: 240px;
height: 240px;
right: 0px;
top: 0px;



/* Ellipse 10 */

position: absolute;
width: 240px;
height: 240px;
left: calc(50% - 240px/2);
top: calc(50% - 240px/2);

background: #000000;


/* logo-white */

position: absolute;
width: 148px;
height: 114px;
left: calc(50% - 148px/2 + 0.48px);
top: calc(50% - 114px/2 + 1px);



/* Vector */

position: absolute;
left: 4.73%;
right: 3.38%;
top: 2.63%;
bottom: 7.89%;

border: 6px solid #FFFFFF;


/* Vector */

position: absolute;
left: 2.98%;
right: 1.38%;
top: 1.1%;
bottom: 0.18%;

background: #FFFFFF;


/* lots */

position: absolute;
width: 1052px;
height: 692px;
left: 24px;
top: 1229px;



/* more */

position: absolute;
width: 192px;
height: 25px;
left: 40px;
bottom: 0px;



/* Line 6 */

position: absolute;
width: 191px;
height: 0px;
left: 40px;
top: 692px;

border: 1px solid #000000;


/* посмотреть больше */

position: absolute;
width: 192px;
height: 23px;
left: 40px;
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;



/* lot 3 */

position: absolute;
width: 334px;
height: 563px;
left: 718px;
top: 74px;



/* photo */

position: absolute;
width: 334px;
height: 563px;
left: 718px;
top: 74px;

background: url(3ZAGLAVNOE.jpg);


/* overlay */

position: absolute;
width: 334px;
height: 563px;
left: 718px;
top: 74px;

background: rgba(0, 0, 0, 0.6);


/* Ну действительно, там линия, тут кружочек, а здесь и вовсе что-то похожее на инфузорию-туфельку. Никаких полей, лесов, котиков... Сколько бы вы на такое поставили, если бы не знали, что это — одна из революционных работ Кандинского? */

position: absolute;
width: 254px;
height: 264px;
left: 758px;
top: 325px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #FFFFFF;



/* Картина, которую повторит даже 5-летний сын маминой подруги */

position: absolute;
width: 254px;
height: 110px;
left: 758px;
top: 125px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
/* or 26px */
text-decoration-line: underline;
text-transform: uppercase;

color: #FFFFFF;



/* lot 2 */

position: absolute;
width: 334px;
height: 563px;
left: 359px;
top: 74px;



/* photo */

position: absolute;
width: 334px;
height: 563px;
left: 359px;
top: 74px;

background: url(136177-dzheyms-dzhoys-uliss.png);


/* overlay */

position: absolute;
width: 334px;
height: 563px;
left: 359px;
top: 74px;

background: rgba(0, 0, 0, 0.6);


/* Объёмом почти в тысячу страниц. Иногда без знаков препинания и с переходами на древнеанглийский. В ней одновременно рассказывается о 16 июня 1904 года и об истории литературы, начиная с античных времён. И это всё накладывается на эпическую поэму Гомера. Сколько бы вы поставили на «Улисса» Джеймса Джойса? */

position: absolute;
width: 254px;
height: 360px;
left: 399px;
top: 229px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #FFFFFF;



/* Книга, где описан один скучный день из жизни рекламного агента */

position: absolute;
width: 254px;
height: 110px;
left: 399px;
top: 125px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
/* or 26px */
text-decoration-line: underline;
text-transform: uppercase;

color: #FFFFFF;



/* lot 1 */

position: absolute;
width: 334px;
height: 563px;
left: 0px;
top: 74px;



/* photo */

position: absolute;
width: 334px;
height: 563px;
left: 0px;
top: 74px;

background: url(539fb54b8ac24568a59b4e0bffa1.jpg);


/* overlay */

position: absolute;
width: 334px;
height: 563px;
left: 0px;
top: 74px;

background: rgba(0, 0, 0, 0.6);


/* Не просто бросил, а ушёл с первой лекции. Какой была бы ваша ставка, если бы вы не знали, что режиссёр — Пол Томас Андерсон? */

position: absolute;
width: 254px;
height: 144px;
left: 40px;
top: 445px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #FFFFFF;



/* Фильм режиссёра, который бросил киношколу */

position: absolute;
width: 254px;
height: 82px;
left: 40px;
top: 125px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
/* or 26px */
text-decoration-line: underline;
text-transform: uppercase;

color: #FFFFFF;



/* title */

position: absolute;
width: 121px;
height: 47px;
left: 40px;
top: 0px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */
text-transform: uppercase;

color: #000000;



/* jambotron */

position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 293px;



/* lotus-flower */

position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 0px;

background: url(oil-painting-beautiful-lotus-flower_1232-1978.jpg);


/* overlay */

position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 0px;

background: #000000;
opacity: 0.6;


/* button */

position: absolute;
width: 256px;
height: 51px;
left: 794px;
top: 655px;



/* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 256px;
height: 51px;
left: 794px;
top: 655px;

border: 1px solid #FFFFFF;


/* Сделать ставку */

position: absolute;
width: 193px;
height: 28px;
left: calc(50% - 193px/2 + 371.5px);
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;



/* subline */

position: absolute;
width: 637px;
height: 28px;
left: 78px;
top: 667px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
text-transform: uppercase;

color: #FFFFFF;



/* title */

position: absolute;
width: 1000px;
height: 355px;
left: 50px;
top: 165px;



/* надо */

position: absolute;
width: 417px;
height: 100px;
left: 633px;
top: 420px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100%;
/* identical to box height, or 100px */
text-align: right;
letter-spacing: 0.6em;
text-transform: uppercase;

color: #FFFFFF;



/* тебе */

position: absolute;
width: 369px;
height: 100px;
left: 336px;
top: 300px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100%;
/* identical to box height, or 100px */
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;



/* оно */

position: absolute;
width: 316px;
height: 115px;
left: 50px;
top: 165px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
/* identical to box height, or 115px */
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;



/* header */

position: absolute;
width: 1052px;
height: 105px;
left: 24px;
top: 92px;



/* contacts */

position: absolute;
width: 240.52px;
height: 98px;
right: 25.48px;
top: 5px;



/* наб. Принсенграхт 263- 265, Амстердам */

position: absolute;
width: 237px;
height: 49px;
left: 787px;
top: 54px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */

color: #000000;



/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 786px;
top: 29px;



/* Line 5 */

position: absolute;
width: 130px;
height: 0px;
left: 786px;
top: 53px;

border: 1px solid #000000;


/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 786px;
top: 29px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */
letter-spacing: 0.01em;

color: #000000;



/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 786.52px;
top: 5px;



/* Line 4 */

position: absolute;
width: 132px;
height: 0px;
left: 786.52px;
top: 29px;

border: 1px solid #000000;


/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 786.52px;
top: 5px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */
letter-spacing: 0.01em;

color: #000000;



/* logo */

position: absolute;
width: 148px;
height: 105px;
left: calc(50% - 148px/2 + 2px);
top: 0px;



/* Vector */

position: absolute;
width: 124.05px;
height: 94.84px;
left: 11.39px;
top: 2.79px;

border: 6px solid #000000;


/* Vector */

position: absolute;
width: 129.11px;
height: 104.65px;
left: 9.03px;
top: 1.16px;

background: #000000;


/* menu */

position: absolute;
width: 391.48px;
height: 22px;
left: 26.52px;
top: 44px;



/* об аукционе */

position: absolute;
width: 129px;
height: 22px;
left: 289px;
top: 44px;



/* Line 3 */

position: absolute;
width: 110px;
height: 0px;
left: 308px;
top: 66px;

border: 1px solid #000000;


/* об аукционе */

position: absolute;
width: 110px;
height: 21px;
left: 308px;
top: 44px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.01em;

color: #000000;



/* list_marker */

box-sizing: border-box;

position: absolute;
width: 7px;
height: 7px;
left: 289px;
top: 52px;

border: 1px solid #000000;


/* посмотреть лоты */

position: absolute;
width: 169px;
height: 22px;
left: 107px;
top: 44px;



/* Line 2 */

position: absolute;
width: 151px;
height: 0px;
left: 125px;
top: 66px;

border: 1px solid #000000;


/* посмотреть лоты */

position: absolute;
width: 151px;
height: 21px;
left: 125px;
top: 44px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.01em;

color: #000000;



/* list_marker */

box-sizing: border-box;

position: absolute;
width: 7px;
height: 7px;
left: 107px;
top: 52px;

border: 1px solid #000000;


/* главная */

position: absolute;
width: 67px;
height: 21px;
left: 26.52px;
top: 44px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #000000;

