.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 92px 49px 92px 51px;*/
  width: 1440px;
  margin-top:92px ;
}

.header__menu{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 51px;
}
.header__links-list {
  list-style: circle;
}

.header__links-list-item {
  float: left;
  padding-right: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link{
 
}  

.header__logo{
  width: 600px;
  padding-left: 135px;
}
.header__logo-image {
  width: 148px;
  height: 105px;

}

.header__address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  /* width: 240px; */
  height: 24px;
  flex-shrink: 0;
  padding-bottom: 100px;
  padding-right: 2px;
  margin-right: 50px;


}
.address_href{
    text-decoration: none;
    border-bottom: 1px #000 solid;
  }
.cover {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/cover.jpg");

  width: 1440px;
  height: 763.939px;
  flex-shrink: 0;
  margin-top: 93px;
  background-size: 1440px;
  border-top: 1px;
  border-bottom: 5.9px;
  border-color: #FFF;
}

.cover__text {
  display: block;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__text__letter-spacing {
  display: inline;
  letter-spacing: 60px;
}

.cover__text__left {
  padding-top: 165px;
  padding-left: 50px;
}

.cover__text__center {
  text-align: center;
  margin-top: 11px;
}

.cover__text__right {
  text-align: right;
  margin-right: 20px;
  margin-top: 5px;
}

.cover__description{
  display: flex;
  margin-top: 128px;
  justify-content:end;
}

.cover__description-text{
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right:78px ;
  align-self: center;


}

.bet-button{
  width: 257px;
  height: 52px;
  border: 1px solid #FFF;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  margin-right: 50px;
}

.lots{
  display: block;
  margin-top: 180px;
  width: 1340px;
  height: 579px;
  flex-shrink: 0;
  margin-left:50px;
}

.lots__title{
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}
.lots__more-link {
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.lots__article{
  width: 430px;
  height: 450px;
  flex-shrink: 0;
  align-self: flex-start;
  margin-right: 12.5px;
  margin-left: 12.5px;
}

.lots__container{
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.lots__link{
  color: #0d33ee;
  width: 350px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 40px;

}

.lots__text{
  display: block;
  color: #fb0c0c;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  width: 350px;
  flex-shrink: 0;
  margin-left:40px ;
  margin-bottom: 50px ;
}

.lots__lot1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), url("../images/card-lot-01.jpg"));
 }