.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  list-style: circle;
}

.header__links-list-item {
  float: left;
  padding-right: 30px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  width: 1440px;
  height: 757px;
}

.cover__text {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover_align_left {
  padding-top: 165px;
  padding-left: 50px;
  text-align: left;
}

.cover_align_center {
  text-align: center;
}

.cover_align_right {
  text-align: right;
}