.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 92px 49px 92px 51px;*/
  width: 1440px;
 
}

.header__menu{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__links-list {
  list-style: circle;
}

.header__links-list-item {
  float: left;
  padding-right: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link{
 
}
.header__logo-image {
  width: 148px;
  height: 105px;
  margin-left: 67px;
}

.header__address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  /* width: 240px; */
  height: 24px;
  flex-shrink: 0;
  padding-bottom: 100px;
}
.address_href{
    text-decoration: none;
    border-bottom: 1px #000 solid;
  }
.cover {
  /*display: block;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/cover.jpg");
  background-repeat: no-repeat;  */
  width: 1440px;
  height: 763.939px;
  flex-shrink: 0;
  background: url("../images/cover.jpg"), lightgray 50% / cover no-repeat;

  
}


 

.cover__text {
  display: block;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;

}

.cover__text__letter-spacing {
  display: inline;
  letter-spacing: 60px;
}

.cover__text__left {
  padding-top: 165px;
  padding-left: 50px;
}

.cover__text__center {
  text-align: center;
  margin-top: 11px;
}

.cover__text__right {
  text-align: right;
  margin-right: 20px;
  margin-top: 5px;
}

